.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.list li {
  width: calc(100% - 1rem); /* Adjust width to fit one column on small screens */
  max-width: 20rem; /* Limit maximum width */
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  overflow: hidden;
}

.list li a {
  display: flex;
  flex-direction: column;
  color: #e72929;
  text-decoration: none;
}

.image {
  height: 14.5rem;
  width: 100%; /* Ensure image fills the width of its container */
  object-fit: cover;
}

.content {
  padding: 0.5rem 1rem;
  height: auto; /* Adjust height to fit content */
}

.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
}

.favorite.not {
  color: grey;
}

.stars {
  margin: 0.5rem 0;
}

.product_item_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1rem;
}

.origins span {
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: 0.8rem;
  color: grey;
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

.origins {
  flex: 1; /* Ensure origins take full width on smaller screens */
}

.cook_time {
  font-size: 0.9rem;
  text-align: right;
}

.price {
  background-color: white;
  padding: 0.3rem 0.9rem; /* Adjust padding for price */
  color: #414141;
  margin-top: 0.7rem;
  font-size: 1.1rem;
  text-align: center; /* Center price on smaller screens */
}
